<div class="navbar-container d-flex align-items-center justify-content-between">
    <div class="logo-container">
        <img src="assets/logo.png" alt="Amogh" class="circular-image"/>
    </div>

    <div class="navbar-links d-flex">
        <a routerLink="/home" class="nav-link mx-3">Home</a>
        <a routerLink="/about" class="nav-link mx-3">About</a>
        <a routerLink="/projects" class="nav-link mx-3">Work/Projects</a>
        <a routerLink="/contact" class="nav-link mx-3">Contact</a>
        <button (click)="openResume()" class="btn btn-primary">Resume</button>
    </div>
</div>
