<section class="hero d-flex align-items-center justify-content-center py-5" @fadeIn>
  <div class="container d-flex align-items-center">
      <div class="text-left me-4 text-end"> <!-- Right align this text -->
          <h1 class="amogh-title">Amogh Gupta</h1>
          <p>Based in Noida</p>
          <ul class="custom-list">
            <li>
              <span class="green-dot"></span> Available for a full-time position
            </li>
          </ul>
      </div>

      <div class="image-container mx-4">
          <img src="assets/Amogh.png" alt="Amogh" class="circular-image" />
      </div>

      <div class="text-right ms-4 text-start"> 
          <h1 class="software-engineer-title">DevOps Engineer</h1>
      </div>
  </div>
</section>

<a routerLink="/projects">
  <section>
    <div class="explore-container">
      <div class="explore-box">
        <p>Explore My Work</p>
      </div>
    </div>
  </section>
</a>